# Assignment7

In [57]:
# Import Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Control Display of seaborn data
pd.options.display.max_columns=50
sns.set(style="darkgrid", rc={"axes.facecolor":"#000000"})


# Loading dataset from 
df = pd.read_csv('work.csv')

# 1. Using Head()

In [58]:
df.head()

     Name         city  age py-score
0    Emma      Kampala   23       90
1  Wilber        Mbale   26       75
2   Robin         Gulu   25     mine
3   Tevor  Livingstone  NaN       89
4    Yeko       Tororo   20       94

# 2. Using Tail ()

In [59]:
df.tail()

     Name         city    age py-score
2   Robin         Gulu     25     mine
3   Tevor  Livingstone    NaN       89
4    Yeko       Tororo     20       94
5  Miriam         Arua  Train      NaN
6   Jesca      Mbarara     21       84

# 3.  Using Info()

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      7 non-null      object
 1   city      7 non-null      object
 2   age       6 non-null      object
 3   py-score  6 non-null      object
dtypes: object(4)
memory usage: 352.0+ bytes

# 4. Using Dropna()

In [61]:
# Drop rows with missing values
df.dropna(inplace=True)

# Display the updated DataFrame
print(df)

     Name     city age py-score
0    Emma  Kampala  23       90
1  Wilber    Mbale  26       75
2   Robin     Gulu  25     mine
4    Yeko   Tororo  20       94
6   Jesca  Mbarara  21       84

# 5.Using  Fillna()

In [62]:
# Fill missing values with a constant value
df.fillna(0, inplace=True)

# Display the updated DataFrame(it will give the same since those rows already dropped)
print(df)

     Name     city age py-score
0    Emma  Kampala  23       90
1  Wilber    Mbale  26       75
2   Robin     Gulu  25     mine
4    Yeko   Tororo  20       94
6   Jesca  Mbarara  21       84

# DATA CLEANING

# 1. Wrong data

# It seems to have no wrong data

# 2. Wrong formats

In [63]:
#creating a dataframe
data = pd.DataFrame(df)
print(data)

     Name     city age py-score
0    Emma  Kampala  23       90
1  Wilber    Mbale  26       75
2   Robin     Gulu  25     mine
4    Yeko   Tororo  20       94
6   Jesca  Mbarara  21       84

In [64]:
# Convert the columns to numeric
data['py-score'] = pd.to_numeric(data['py-score'], errors='coerce')

# Remove row with non-integer values in py-score
data = data[data['py-score'].notnull()]
data = data[data['py-score'].astype(int) == data['py-score']]

# Display the updated DataFrame
print(data)

     Name     city age  py-score
0    Emma  Kampala  23      90.0
1  Wilber    Mbale  26      75.0
4    Yeko   Tororo  20      94.0
6   Jesca  Mbarara  21      84.0

# 3. Duplicates

In [65]:
#Remove Duplicates if exist
data = data.drop_duplicates()

# 4. Perform some correlation

In [66]:
# performing correlation in dataframe
correlation_matrix = data.corr()
print(correlation_matrix)

          py-score
py-score       1.0

C:\Users\Atong Abraham\AppData\Local\Temp\ipykernel_15968\3517873135.py:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  correlation_matrix = data.corr()

# For dataset ( mine.csv)

In [67]:
# Import Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Control Display of seaborn data
pd.options.display.max_columns=50
sns.set(style="darkgrid", rc={"axes.facecolor":"#000000"})


# Loading dataset from 
df = pd.read_csv('mine.csv')

# 1. Using Head()

In [68]:
df.head()

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

# 2. Using Tail ()

In [69]:
df.tail()

     Duration  Pulse  Maxpulse  Calories
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

# 3. Using Info()

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB

# 4. Using Dropna()

In [71]:
# Drop rows with missing values
df.dropna(inplace=True)

# Display the updated DataFrame
print(df)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[164 rows x 4 columns]

# 5.Using Fillna()

In [72]:
data1 = pd.DataFrame(df)

# Fill missing values with a constant value
data1.fillna(0, inplace=True)

# Display the updated DataFrame(it will give the same since those rows already dropped)
data1

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[164 rows x 4 columns]

# DATA CLEANING

# 1. Wrong data

# Seems to have no wrong data

# 2. Wrong formats

# Not in a wrong frmat

# 3. Duplicates

In [74]:
#Remove Duplicates if exist
data1 = data1.drop_duplicates()
print(data1)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[157 rows x 4 columns]

# 4. Perform some correlation

In [75]:
# performing correlation in dataframe
correlation_matrix = data1.corr()
print(correlation_matrix)

          Duration     Pulse  Maxpulse  Calories
Duration  1.000000 -0.167770 -0.000501  0.923053
Pulse    -0.167770  1.000000  0.784994  0.015301
Maxpulse -0.000501  0.784994  1.000000  0.195309
Calories  0.923053  0.015301  0.195309  1.000000

# Notes for previous lecture

# 1. Pandas¶

In [76]:
import pandas as pd
mydataset = {
    'Name': ["Ronaldo", "Abram", "John"],
    'yearOfGrad': [2020, 2021, 2022],
}

myvar = pd.DataFrame(mydataset, index = ["First", "Second", "Third"])
print(myvar)

           Name  yearOfGrad
First   Ronaldo        2020
Second    Abram        2021
Third      John        2022

In [77]:
#1. Pandas
#Pandas is a Python library used for working with data sets.
#Pandas allows us to analyze big data and make conclusions based on statistical theories.
#1.Pandas Dataframe
#2. Pandas Series
#3. Read CSV files
#4. Read JSON files


#1. Pandas Series
 #A Pandas Series is like a column in a table.
#It is a one-dimensional array holding data of any type.

import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar)


#Create your own labels:
#This label can be used to access a specified value.
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a, index = ["x", "y", "z"])

print(myvar)
#Return the value of "y":

print(myvar["y"])


#Create a simple Pandas Series from a dictionary:
#The keys of the dictionary become the labels.
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories)

print(myvar)


#2. DataFrames
#A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.
#Series is like a column, a DataFrame is the whole table.


#Create a DataFrame from two Series:

import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

print(df) 

#Locate Row
#Pandas use the loc attribute to return one or more specified row(s)

#refer to the row index:
print(df.loc[0])

#Return row 0 and 1:
#use a list of indexes:
print(df.loc[[0, 1]])

#Named Indexes
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data, index = ["day1", "day2", "day3"])

print(df) 

#refer to the named index:
print(df.loc["day2"])

0    1
1    7
2    2
dtype: int64
x    1
y    7
z    2
dtype: int64
7
day1    420
day2    380
day3    390
dtype: int64
   calories  duration
0       420        50
1       380        40
2       390        45
calories    420
duration     50
Name: 0, dtype: int64
   calories  duration
0       420        50
1       380        40
      calories  duration
day1       420        50
day2       380        40
day3       390        45
calories    380
duration     40
Name: day2, dtype: int64